<div class="question">{{question}}</div>
<div class="answerType">

    {{#each answers}}
    <div class="answer" id="answer_{{@index}}">
        <input id={{@index}} type="checkbox" name="answer_btn_checkbox" value="{{this}}">
        <label for="answer_btn_{{@index}}">{{this}}</label>
    </div>
    {{/each}}
</div>
<div class="note" id="popUp">
    <div class="note-content">
        <span class="close">close</span>
        <p>Some answers are missing</p>
    </div>
</div>